input.ng-invalid:not(.ng-pristine) ~ label {
    color: red;
}
.edit-label {
    border-right: 2px solid black;
    padding-right: 10px;
    color: black;
}

.delete-button i{
    line-height: inherit !important;
    margin-right: 0px !important;
}

.delete-button {
    padding: 0px !important;
}